# Dataframe Processing

In [224]:
# Get the data from the sample_data folder
import os
import pandas as pd

In [225]:
files_in_current_directory = os.listdir('.')
print(files_in_current_directory)

['gradesync_sheets_to_df.ipynb', 'message_requests.csv', '.DS_Store', 'config', 'sample_data', '.gitignore', 'df_processing.ipynb']

In [226]:
# Read the data from the sample_data folder and convert to a dataframe
def get_data(file_name):
    # Get the path to the sample_data folder
    sample_data_folder = 'sample_data/'
    file_path = os.path.join(sample_data_folder, file_name)

    # Read the data from the CSV file
    df = pd.read_csv(file_path)

    return df

## 1. Open the files and do pre-processing

In [227]:
project3_df = get_data('CS10_Sp25_GradeScope Grades - Project 3_2048.csv')
project3_df

,b'First Name,Last Name,SID,Email,Sections,Total Score,Max Points,Status,Submission ID,Submission Time,Lateness (H:M:S),View Count,Submission Count,1: Autograder (35.0 pts)
0,Anita,Qian,3040005244,anita_qian@berkeley.edu,compsci-10-dis-801-in-person,35.00,35,Graded,314621931.0,2025-03-05 10:45:24 -0800,0:00:00,0.0,1.0,35.00
1,Malachite,McEvoy,3036547996,malachitemcevoy@berkeley.edu,compsci-10-dis-801-in-person,35.00,35,Graded,314680106.0,2025-03-05 13:17:20 -0800,0:00:00,0.0,2.0,35.00
2,Abigail,Johnson,3040928660,abigail.johnson@berkeley.edu,compsci-10-dis-801-in-person,35.00,35,Graded,314713498.0,2025-03-05 14:46:33 -0800,0:00:00,0.0,1.0,35.00
3,Jack,Hulse,3040081294,johnhulse@berkeley.edu,compsci-10-dis-801-in-person,35.00,35,Graded,314713498.0,2025-03-05 14:46:33 -0800,0:00:00,0.0,1.0,35.00
4,Kelly,Chou,3038568093,kelly0919@berkeley.edu,compsci-10-dis-801-in-person,30.35,35,Graded,314886910.0,2025-03-06 00:34:41 -0800,0:00:00,0.0,1.0,30.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,Kaixing,Zhang,3040937812,keson@berkeley.edu,NaN,NaN,35,Missing,NaN,NaN,NaN,NaN,NaN,NaN
61,Erin,ZHOU,3040947731,uerinzhou@berkeley.edu,NaN,NaN,35,Missing,NaN,NaN,NaN,NaN,NaN,NaN
62,Efe,Atli,23772813,eatli@berkeley.edu,compsci-10-dis-801-in-person,NaN,35,Missing,NaN,NaN,NaN,NaN,NaN,NaN
63,Felipe,Ruiz-Tagle,3040705060,felipe.ruiztagle@berkeley.edu,compsci-10-dis-801-in-person,NaN,35,Missing,NaN,NaN,NaN,NaN,NaN,NaN
64,Jerome,Martel,NaN,jerome.martel.t@berkeley.edu,NaN,NaN,35,Missing,NaN,NaN,NaN,NaN,NaN,NaN

In [228]:
# Sort project3_df to contain only the 'SID', 'Status', 'Submission Time', 'Lateness (H:M:S)' columns
project3_filtered_df = project3_df[["b'First Name", 'Last Name', 'SID', 'Email', 'Status', 'Submission Time', 'Lateness (H:M:S)']]
project3_filtered_df

# Add a new column which labeles this data as 'Proj 3: 2048'
project3_filtered_df['Project'] = 'Proj 3: 2048'

# Reorder the columns to have 'Project' as the first column
project3_filtered_df = project3_filtered_df[['Project', "b'First Name", 'Last Name', 'SID', 'Email', 'Status', 'Submission Time', 'Lateness (H:M:S)']]
project3_filtered_df

/var/folders/5r/8h1k7ph90sz489gn6wc1cky80000gn/T/ipykernel_81635/3667093539.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  project3_filtered_df['Project'] = 'Proj 3: 2048'

,Project,b'First Name,Last Name,SID,Email,Status,Submission Time,Lateness (H:M:S)
0,Proj 3: 2048,Anita,Qian,3040005244,anita_qian@berkeley.edu,Graded,2025-03-05 10:45:24 -0800,0:00:00
1,Proj 3: 2048,Malachite,McEvoy,3036547996,malachitemcevoy@berkeley.edu,Graded,2025-03-05 13:17:20 -0800,0:00:00
2,Proj 3: 2048,Abigail,Johnson,3040928660,abigail.johnson@berkeley.edu,Graded,2025-03-05 14:46:33 -0800,0:00:00
3,Proj 3: 2048,Jack,Hulse,3040081294,johnhulse@berkeley.edu,Graded,2025-03-05 14:46:33 -0800,0:00:00
4,Proj 3: 2048,Kelly,Chou,3038568093,kelly0919@berkeley.edu,Graded,2025-03-06 00:34:41 -0800,0:00:00
...,...,...,...,...,...,...,...,...
60,Proj 3: 2048,Kaixing,Zhang,3040937812,keson@berkeley.edu,Missing,NaN,NaN
61,Proj 3: 2048,Erin,ZHOU,3040947731,uerinzhou@berkeley.edu,Missing,NaN,NaN
62,Proj 3: 2048,Efe,Atli,23772813,eatli@berkeley.edu,Missing,NaN,NaN
63,Proj 3: 2048,Felipe,Ruiz-Tagle,3040705060,felipe.ruiztagle@berkeley.edu,Missing,NaN,NaN
64,Proj 3: 2048,Jerome,Martel,NaN,jerome.martel.t@berkeley.edu,Missing,NaN,NaN

In [229]:
# Get the data from deadlines.csv
deadlines_df = get_data('deadlines.csv')
deadlines_df

,id,project,due,done,time_submitted
0,0,Presemester Survey,2025-01-31T23:59:59,0,NaN
1,1,Proj 1: Worldle,2025-02-05T23:59:59,0,NaN
2,2,Proj 2: Spelling Bee,2025-02-24T23:59:59,0,NaN
3,3,Proj 3: 2048,2025-03-17T23:59:59,0,NaN
4,4,Proj 4: Tech in Context,2025-03-31T23:59:59,0,NaN
5,5,Proj 6: Final Project Proposals,2025-04-07T23:59:59,0,NaN

In [230]:
# Get the data from notification_frequency.csv
notification_frequency_df = get_data('notification_frequency.csv')
notification_frequency_df.head()

          sid notification_frequency
0  3040005244                 3 days
1  3036547996                 7 days
2  3040928660                 3 days
3  3040081294                 3 days
4  3038568093                 3 days

In [231]:
# Iterate through the project3_filtered_df, and for each row, add on the due date based on joining the project3_filtered_df and the deadlines_df
def get_due_date(row):
    # Get the project name from the row
    project_name = row['Project']

    # Get the due date from the deadlines_df
    due_date = deadlines_df.loc[deadlines_df['project'] == project_name, 'due'].values[0]

    return due_date

project3_filtered_df['Due Date'] = project3_filtered_df.apply(get_due_date, axis=1)
project3_filtered_df

,Project,b'First Name,Last Name,SID,Email,Status,Submission Time,Lateness (H:M:S),Due Date
0,Proj 3: 2048,Anita,Qian,3040005244,anita_qian@berkeley.edu,Graded,2025-03-05 10:45:24 -0800,0:00:00,2025-03-17T23:59:59
1,Proj 3: 2048,Malachite,McEvoy,3036547996,malachitemcevoy@berkeley.edu,Graded,2025-03-05 13:17:20 -0800,0:00:00,2025-03-17T23:59:59
2,Proj 3: 2048,Abigail,Johnson,3040928660,abigail.johnson@berkeley.edu,Graded,2025-03-05 14:46:33 -0800,0:00:00,2025-03-17T23:59:59
3,Proj 3: 2048,Jack,Hulse,3040081294,johnhulse@berkeley.edu,Graded,2025-03-05 14:46:33 -0800,0:00:00,2025-03-17T23:59:59
4,Proj 3: 2048,Kelly,Chou,3038568093,kelly0919@berkeley.edu,Graded,2025-03-06 00:34:41 -0800,0:00:00,2025-03-17T23:59:59
...,...,...,...,...,...,...,...,...,...
60,Proj 3: 2048,Kaixing,Zhang,3040937812,keson@berkeley.edu,Missing,NaN,NaN,2025-03-17T23:59:59
61,Proj 3: 2048,Erin,ZHOU,3040947731,uerinzhou@berkeley.edu,Missing,NaN,NaN,2025-03-17T23:59:59
62,Proj 3: 2048,Efe,Atli,23772813,eatli@berkeley.edu,Missing,NaN,NaN,2025-03-17T23:59:59
63,Proj 3: 2048,Felipe,Ruiz-Tagle,3040705060,felipe.ruiztagle@berkeley.edu,Missing,NaN,NaN,2025-03-17T23:59:59
64,Proj 3: 2048,Jerome,Martel,NaN,jerome.martel.t@berkeley.edu,Missing,NaN,NaN,2025-03-17T23:59:59

In [232]:
# Import datetime to compare the difference in times
import datetime

# Convert the 'Submission Time' and 'Due Date' columns to datetime objects
project3_filtered_df['Submission Time'] = pd.to_datetime(project3_filtered_df['Submission Time'], format='%Y-%m-%d %H:%M:%S')
project3_filtered_df['Due Date'] = pd.to_datetime(project3_filtered_df['Due Date'], format='%Y-%m-%d %H:%M:%S')

project3_filtered_df

,Project,b'First Name,Last Name,SID,Email,Status,Submission Time,Lateness (H:M:S),Due Date
0,Proj 3: 2048,Anita,Qian,3040005244,anita_qian@berkeley.edu,Graded,2025-03-05 10:45:24-08:00,0:00:00,2025-03-17 23:59:59
1,Proj 3: 2048,Malachite,McEvoy,3036547996,malachitemcevoy@berkeley.edu,Graded,2025-03-05 13:17:20-08:00,0:00:00,2025-03-17 23:59:59
2,Proj 3: 2048,Abigail,Johnson,3040928660,abigail.johnson@berkeley.edu,Graded,2025-03-05 14:46:33-08:00,0:00:00,2025-03-17 23:59:59
3,Proj 3: 2048,Jack,Hulse,3040081294,johnhulse@berkeley.edu,Graded,2025-03-05 14:46:33-08:00,0:00:00,2025-03-17 23:59:59
4,Proj 3: 2048,Kelly,Chou,3038568093,kelly0919@berkeley.edu,Graded,2025-03-06 00:34:41-08:00,0:00:00,2025-03-17 23:59:59
...,...,...,...,...,...,...,...,...,...
60,Proj 3: 2048,Kaixing,Zhang,3040937812,keson@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59
61,Proj 3: 2048,Erin,ZHOU,3040947731,uerinzhou@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59
62,Proj 3: 2048,Efe,Atli,23772813,eatli@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59
63,Proj 3: 2048,Felipe,Ruiz-Tagle,3040705060,felipe.ruiztagle@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59
64,Proj 3: 2048,Jerome,Martel,NaN,jerome.martel.t@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59

In [233]:
# Get the type of the 'SID' column in project3_filtered_df
sid_type = project3_filtered_df['SID'].dtype
sid_type

dtype('O')

In [234]:
notification_frequency_df.rename(columns={'sid': 'SID'}, inplace=True)
notification_frequency_df.head()

          SID notification_frequency
0  3040005244                 3 days
1  3036547996                 7 days
2  3040928660                 3 days
3  3040081294                 3 days
4  3038568093                 3 days

In [235]:
# Convert the SID column in notification_frequency_df to an object
notification_frequency_df = notification_frequency_df.astype({'SID': 'object'})
notification_frequency_df.head()

          SID notification_frequency
0  3040005244                 3 days
1  3036547996                 7 days
2  3040928660                 3 days
3  3040081294                 3 days
4  3038568093                 3 days

In [236]:
# Get the type of the 'SID' column in project3_filtered_df
sid_type = notification_frequency_df['SID'].dtype
sid_type

dtype('O')

In [237]:
# Get the difference between SID in the two dataframes
def get_sid_difference(df1, df2):
    # Get the SIDs from both dataframes
    df1_sids = set(df1['SID'])
    df2_sids = set(df2['SID'])

    # Get the difference between the two sets
    sid_difference = df1_sids - df2_sids

    return sid_difference

sid_difference = get_sid_difference(project3_filtered_df, notification_frequency_df)
print(sid_difference)

{nan, '3036656276', '3040308547', '3039985705', '3040081632', '3040528611', '3036690193', '3040923954', '3040928660', '3040927802', '3040942908', '3040947731', '3040583471', '3040151286', '3037674837', '3039926074', '3040864726', '3038772349', '3040005244', '3038568093', '3040233706', 'UID:1808816', '3040081294', '3040943558', '3040942973', '3040950656', '3036618589', '3040940542', '3039900360', '3040952216', '3033723307', '3039890220', '3040223761', '3040466419', '3038326956', '3038531186', '3040044257', '23772813', '3040935381', '3040948524', '3038646132', '3038033130', '3040759465', 'UID:1732360', '3036804730', '3040705060', '3040328684', '3040937812', '3040799830', '3039887737', '3040617947', '3037338261', '3038359521', '3036547996', '3040111597', '3037923293'}

## 2. Merge the Dataframes

In [238]:
# Merge the project3_filtered_df and notification_frequency_df on the 'SID' column
merged_df = pd.merge(project3_filtered_df, notification_frequency_df, on='SID', how='left')
merged_df

,Project,b'First Name,Last Name,SID,Email,Status,Submission Time,Lateness (H:M:S),Due Date,notification_frequency
0,Proj 3: 2048,Anita,Qian,3040005244,anita_qian@berkeley.edu,Graded,2025-03-05 10:45:24-08:00,0:00:00,2025-03-17 23:59:59,NaN
1,Proj 3: 2048,Malachite,McEvoy,3036547996,malachitemcevoy@berkeley.edu,Graded,2025-03-05 13:17:20-08:00,0:00:00,2025-03-17 23:59:59,NaN
2,Proj 3: 2048,Abigail,Johnson,3040928660,abigail.johnson@berkeley.edu,Graded,2025-03-05 14:46:33-08:00,0:00:00,2025-03-17 23:59:59,NaN
3,Proj 3: 2048,Jack,Hulse,3040081294,johnhulse@berkeley.edu,Graded,2025-03-05 14:46:33-08:00,0:00:00,2025-03-17 23:59:59,NaN
4,Proj 3: 2048,Kelly,Chou,3038568093,kelly0919@berkeley.edu,Graded,2025-03-06 00:34:41-08:00,0:00:00,2025-03-17 23:59:59,NaN
...,...,...,...,...,...,...,...,...,...,...
60,Proj 3: 2048,Kaixing,Zhang,3040937812,keson@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,NaN
61,Proj 3: 2048,Erin,ZHOU,3040947731,uerinzhou@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,NaN
62,Proj 3: 2048,Efe,Atli,23772813,eatli@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,NaN
63,Proj 3: 2048,Felipe,Ruiz-Tagle,3040705060,felipe.ruiztagle@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,NaN
64,Proj 3: 2048,Jerome,Martel,NaN,jerome.martel.t@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,NaN

In [239]:
# # Convert the notification frequency to timedelta object in notification_frequency_df

# def convert_to_timedelta(row):
#     # Get the notification frequency from the row
#     notification_frequency = row['notification_frequency']

#     # Check if the notification_frequency is already a timedelta object
#     if isinstance(notification_frequency, pd.Timedelta):
#         return notification_frequency

#     # Extract the number and unit
#     num, unit = notification_frequency.split()

#     # Convert to timedelta
#     if unit.startswith('day'):
#         delta = datetime.timedelta(days=int(num))
#     elif unit.startswith('hour'):
#         delta = datetime.timedelta(hours=int(num))
#     elif unit.startswith('minute'):
#         delta = datetime.timedelta(minutes=int(num))
#     else:
#         raise ValueError("Unsupported time unit.")
#     return delta 
    
# merged_df['notification_frequency'] = merged_df.apply(convert_to_timedelta, axis=1)
# merged_df

In [240]:
# Make the column notification_frequency in merged_df a timedelta object where it is random number from 3-7 days in length

import random

def random_timedelta():
    # Generate a random number of days between 3 and 7
    num_days = random.randint(3, 7)
    return pd.Timedelta(days=num_days)
merged_df['notification_frequency'] = merged_df['notification_frequency'].apply(lambda x: random_timedelta())

merged_df

,Project,b'First Name,Last Name,SID,Email,Status,Submission Time,Lateness (H:M:S),Due Date,notification_frequency
0,Proj 3: 2048,Anita,Qian,3040005244,anita_qian@berkeley.edu,Graded,2025-03-05 10:45:24-08:00,0:00:00,2025-03-17 23:59:59,5 days
1,Proj 3: 2048,Malachite,McEvoy,3036547996,malachitemcevoy@berkeley.edu,Graded,2025-03-05 13:17:20-08:00,0:00:00,2025-03-17 23:59:59,7 days
2,Proj 3: 2048,Abigail,Johnson,3040928660,abigail.johnson@berkeley.edu,Graded,2025-03-05 14:46:33-08:00,0:00:00,2025-03-17 23:59:59,5 days
3,Proj 3: 2048,Jack,Hulse,3040081294,johnhulse@berkeley.edu,Graded,2025-03-05 14:46:33-08:00,0:00:00,2025-03-17 23:59:59,4 days
4,Proj 3: 2048,Kelly,Chou,3038568093,kelly0919@berkeley.edu,Graded,2025-03-06 00:34:41-08:00,0:00:00,2025-03-17 23:59:59,4 days
...,...,...,...,...,...,...,...,...,...,...
60,Proj 3: 2048,Kaixing,Zhang,3040937812,keson@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,4 days
61,Proj 3: 2048,Erin,ZHOU,3040947731,uerinzhou@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,5 days
62,Proj 3: 2048,Efe,Atli,23772813,eatli@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,4 days
63,Proj 3: 2048,Felipe,Ruiz-Tagle,3040705060,felipe.ruiztagle@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,5 days
64,Proj 3: 2048,Jerome,Martel,NaN,jerome.martel.t@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,4 days

In [241]:
# Get the current date, for example let's say today's date is 3-17-25 minus 3 days which is 3-14-25.
# This will help with the example above

today_date = datetime.datetime(2025, 3, 12, 0, 0, 0)
today_date

# Get the difference between the due date and the current date
def get_date_difference(row):
    # Get the due date from the row
    due_date = row['Due Date']

    # Get the difference between the due date and the current date
    date_difference = due_date - today_date

    return date_difference

merged_df['Date Difference'] = merged_df.apply(get_date_difference, axis=1)
merged_df

,Project,b'First Name,Last Name,SID,Email,Status,Submission Time,Lateness (H:M:S),Due Date,notification_frequency,Date Difference
0,Proj 3: 2048,Anita,Qian,3040005244,anita_qian@berkeley.edu,Graded,2025-03-05 10:45:24-08:00,0:00:00,2025-03-17 23:59:59,5 days,5 days 23:59:59
1,Proj 3: 2048,Malachite,McEvoy,3036547996,malachitemcevoy@berkeley.edu,Graded,2025-03-05 13:17:20-08:00,0:00:00,2025-03-17 23:59:59,7 days,5 days 23:59:59
2,Proj 3: 2048,Abigail,Johnson,3040928660,abigail.johnson@berkeley.edu,Graded,2025-03-05 14:46:33-08:00,0:00:00,2025-03-17 23:59:59,5 days,5 days 23:59:59
3,Proj 3: 2048,Jack,Hulse,3040081294,johnhulse@berkeley.edu,Graded,2025-03-05 14:46:33-08:00,0:00:00,2025-03-17 23:59:59,4 days,5 days 23:59:59
4,Proj 3: 2048,Kelly,Chou,3038568093,kelly0919@berkeley.edu,Graded,2025-03-06 00:34:41-08:00,0:00:00,2025-03-17 23:59:59,4 days,5 days 23:59:59
...,...,...,...,...,...,...,...,...,...,...,...
60,Proj 3: 2048,Kaixing,Zhang,3040937812,keson@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,4 days,5 days 23:59:59
61,Proj 3: 2048,Erin,ZHOU,3040947731,uerinzhou@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,5 days,5 days 23:59:59
62,Proj 3: 2048,Efe,Atli,23772813,eatli@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,4 days,5 days 23:59:59
63,Proj 3: 2048,Felipe,Ruiz-Tagle,3040705060,felipe.ruiztagle@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,5 days,5 days 23:59:59
64,Proj 3: 2048,Jerome,Martel,NaN,jerome.martel.t@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,4 days,5 days 23:59:59

In [242]:
# Get the type of the notification_frequency column in merged_df
notification_frequency_type = merged_df['notification_frequency'].dtype
notification_frequency_type

dtype('<m8[ns]')

In [243]:
# Get the type of the Date Difference column in merged_df
date_difference_type = merged_df['Date Difference'].dtype
date_difference_type

dtype('<m8[ns]')

In [244]:
merged_df['is_equal'] = merged_df['notification_frequency'].dt.days == merged_df['Date Difference'].dt.days
merged_df

,Project,b'First Name,Last Name,SID,Email,Status,Submission Time,Lateness (H:M:S),Due Date,notification_frequency,Date Difference,is_equal
0,Proj 3: 2048,Anita,Qian,3040005244,anita_qian@berkeley.edu,Graded,2025-03-05 10:45:24-08:00,0:00:00,2025-03-17 23:59:59,5 days,5 days 23:59:59,True
1,Proj 3: 2048,Malachite,McEvoy,3036547996,malachitemcevoy@berkeley.edu,Graded,2025-03-05 13:17:20-08:00,0:00:00,2025-03-17 23:59:59,7 days,5 days 23:59:59,False
2,Proj 3: 2048,Abigail,Johnson,3040928660,abigail.johnson@berkeley.edu,Graded,2025-03-05 14:46:33-08:00,0:00:00,2025-03-17 23:59:59,5 days,5 days 23:59:59,True
3,Proj 3: 2048,Jack,Hulse,3040081294,johnhulse@berkeley.edu,Graded,2025-03-05 14:46:33-08:00,0:00:00,2025-03-17 23:59:59,4 days,5 days 23:59:59,False
4,Proj 3: 2048,Kelly,Chou,3038568093,kelly0919@berkeley.edu,Graded,2025-03-06 00:34:41-08:00,0:00:00,2025-03-17 23:59:59,4 days,5 days 23:59:59,False
...,...,...,...,...,...,...,...,...,...,...,...,...
60,Proj 3: 2048,Kaixing,Zhang,3040937812,keson@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,4 days,5 days 23:59:59,False
61,Proj 3: 2048,Erin,ZHOU,3040947731,uerinzhou@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,5 days,5 days 23:59:59,True
62,Proj 3: 2048,Efe,Atli,23772813,eatli@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,4 days,5 days 23:59:59,False
63,Proj 3: 2048,Felipe,Ruiz-Tagle,3040705060,felipe.ruiztagle@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,5 days,5 days 23:59:59,True
64,Proj 3: 2048,Jerome,Martel,NaN,jerome.martel.t@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,4 days,5 days 23:59:59,False

## 3. Create missing_students dataframe

In [245]:
"""
What will the code do:			
1. Iterate through every single row in this table			
2. Student SID has not submitted assignment, status = 'missing' from student_data_one_assignment AND today_date == due_date - notification_freq			
3. Append that student, row, assignment to the message_requests temporary dataframe			
4. Continue iterating through every single one			
"""

# See which rows where row['Status'] == 'missing' and row['is_equal'] == True:
missing_students = merged_df[(merged_df['Status'] == 'Missing') & (merged_df['is_equal'] == True)]
missing_students

,Project,b'First Name,Last Name,SID,Email,Status,Submission Time,Lateness (H:M:S),Due Date,notification_frequency,Date Difference,is_equal
38,Proj 3: 2048,test3,test3,NaN,test3@test.com,Missing,NaN,NaN,2025-03-17 23:59:59,5 days,5 days 23:59:59,True
39,Proj 3: 2048,test4,test4,NaN,test4@test.com,Missing,NaN,NaN,2025-03-17 23:59:59,5 days,5 days 23:59:59,True
52,Proj 3: 2048,Edward,Hou,3033723307,eddhou@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,5 days,5 days 23:59:59,True
58,Proj 3: 2048,Gennalyn,Torres,3040583471,gennalynmayberkeley@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,5 days,5 days 23:59:59,True
61,Proj 3: 2048,Erin,ZHOU,3040947731,uerinzhou@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,5 days,5 days 23:59:59,True
63,Proj 3: 2048,Felipe,Ruiz-Tagle,3040705060,felipe.ruiztagle@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,5 days,5 days 23:59:59,True

## Generate the Message Requests

In [246]:
# Now create a message_requests column in the merged_df dataframe with the f_string message
def create_message(row):
    # Get the SID from the row
    sid = row['SID']

    # Get the project name from the row
    project_name = row['Project']

    notification_frequency = row['notification_frequency']

    first_name = row["b'First Name"]
    last_name = row['Last Name']

    # Create the message
    message = f"Dear {first_name}, your {project_name} assignment is missing and it is due in {notification_frequency}. Please submit it as soon as possible."

    return message

# Create the message_requests column in the merged_df dataframe
missing_students['message_requests'] = missing_students.apply(create_message, axis=1)
missing_students

/var/folders/5r/8h1k7ph90sz489gn6wc1cky80000gn/T/ipykernel_81635/4055332573.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missing_students['message_requests'] = missing_students.apply(create_message, axis=1)

,Project,b'First Name,Last Name,SID,Email,Status,Submission Time,Lateness (H:M:S),Due Date,notification_frequency,Date Difference,is_equal,message_requests
38,Proj 3: 2048,test3,test3,NaN,test3@test.com,Missing,NaN,NaN,2025-03-17 23:59:59,5 days,5 days 23:59:59,True,"Dear test3, your Proj 3: 2048 assignment is mi..."
39,Proj 3: 2048,test4,test4,NaN,test4@test.com,Missing,NaN,NaN,2025-03-17 23:59:59,5 days,5 days 23:59:59,True,"Dear test4, your Proj 3: 2048 assignment is mi..."
52,Proj 3: 2048,Edward,Hou,3033723307,eddhou@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,5 days,5 days 23:59:59,True,"Dear Edward, your Proj 3: 2048 assignment is m..."
58,Proj 3: 2048,Gennalyn,Torres,3040583471,gennalynmayberkeley@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,5 days,5 days 23:59:59,True,"Dear Gennalyn, your Proj 3: 2048 assignment is..."
61,Proj 3: 2048,Erin,ZHOU,3040947731,uerinzhou@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,5 days,5 days 23:59:59,True,"Dear Erin, your Proj 3: 2048 assignment is mis..."
63,Proj 3: 2048,Felipe,Ruiz-Tagle,3040705060,felipe.ruiztagle@berkeley.edu,Missing,NaN,NaN,2025-03-17 23:59:59,5 days,5 days 23:59:59,True,"Dear Felipe, your Proj 3: 2048 assignment is m..."

In [247]:
# Get the list of message requests
message_requests = missing_students['message_requests'].tolist()
message_requests

['Dear test3, your Proj 3: 2048 assignment is missing and it is due in 5 days 00:00:00. Please submit it as soon as possible.',
 'Dear test4, your Proj 3: 2048 assignment is missing and it is due in 5 days 00:00:00. Please submit it as soon as possible.',
 'Dear Edward, your Proj 3: 2048 assignment is missing and it is due in 5 days 00:00:00. Please submit it as soon as possible.',
 'Dear Gennalyn, your Proj 3: 2048 assignment is missing and it is due in 5 days 00:00:00. Please submit it as soon as possible.',
 'Dear Erin, your Proj 3: 2048 assignment is missing and it is due in 5 days 00:00:00. Please submit it as soon as possible.',
 'Dear Felipe, your Proj 3: 2048 assignment is missing and it is due in 5 days 00:00:00. Please submit it as soon as possible.']

In [252]:
# This is the output which should go into the message_requests.csv file

# Create a new dataframe with the message requests
message_requests_df = missing_students[['SID', 'Email', 'message_requests']].copy()
message_requests_df

,SID,Email,message_requests
38,NaN,test3@test.com,"Dear test3, your Proj 3: 2048 assignment is mi..."
39,NaN,test4@test.com,"Dear test4, your Proj 3: 2048 assignment is mi..."
52,3033723307,eddhou@berkeley.edu,"Dear Edward, your Proj 3: 2048 assignment is m..."
58,3040583471,gennalynmayberkeley@berkeley.edu,"Dear Gennalyn, your Proj 3: 2048 assignment is..."
61,3040947731,uerinzhou@berkeley.edu,"Dear Erin, your Proj 3: 2048 assignment is mis..."
63,3040705060,felipe.ruiztagle@berkeley.edu,"Dear Felipe, your Proj 3: 2048 assignment is m..."

In [253]:
# Save the message requests to a CSV file
message_requests_df.to_csv('message_requests.csv', index=False)